    <div>
        <strong>Contact:</strong>
        &emsp;
        {{ site.email }}
        <br>
        <strong>Follow:</strong>
        &emsp;&ensp;
    {% for social in site.data.socials %}
  {% case social[0] %}
    {% when 'email' %}
      <a href="mailto:{{ social[1] | encode_email }}" title="email"><i class="fa-solid fa-envelope"></i></a>
   {% when 'github_username' %}
      <a href="https://github.com/{{ social[1] }}" title="GitHub"><i class="fa-brands fa-github"></i></a>
    {% when 'gitlab_username' %}
      <a href="https://gitlab.com/{{ social[1] }}" title="GitLab"><i class="fa-brands fa-gitlab"></i></a>
      <a href="https://www.kaggle.com/{{ social[1] }}" title="Kaggle"><i class="fa-brands fa-kaggle"></i></a>
    {% when 'keybase_username' %}
      <a href="https://keybase.io/{{ social[1] }}" title="Keybase"><i class="fa-brands fa-keybase"></i></a>
   {% when 'linkedin_username' %}
      <a href="https://www.linkedin.com/in/{{ social[1] }}" title="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
     {% when 'scholar_userid' %}
      <a href="https://scholar.google.com/citations?user={{ social[1] }}" title="Google Scholar"><i class="ai ai-google-scholar"></i></a>
        {% endif %}
      </a>
  {% endcase %}
{% endfor %}

    </div>
